<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:commandButton value="Mensajes"  oncomplete="PF('test').show()" update=":form"/>
        </h:form>               
        <p:dialog widgetVar="test" modal="true">
            <h:form id="form">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Mensaje:"/>    
                    <p:inputText value="#{MsjCtrl.}"/>
                    <p:commandButton value="Save" actionListener="#{MsjCtrl.createMensaje()}" oncomplete="PF('test').hide()" />
                </p:panelGrid>    
            </h:form>                       


        </p:dialog>
        <p:dataTable var="m" value="#{MsjCtrl.listar()}" emptyMessage="N/A">
            <p:column headerText="id">
                <p:outputLabel value="#{m.id}" />
            </p:column>

            <p:column headerText="Mensaje">
                <p:outputLabel value="#{m.msj}" />
            </p:column>                
        </p:dataTable>
    </h:body>
</html>

