<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>EstacionVacacional</title>
	<h:outputStylesheet name="buttom.css" library="css" />
</h:head>
<h:body
	style="background-image: url('#{resource['img/pos.jpg']}');">
	<div
		style="visibility: visible; height: 312px; margin-bottom: -91.6667px;">
		<p:contentFlow value="#{imagenesBean.images}" var="image">
			<p:graphicImage name="img/#{image}" styleClass="content" />
			<div class="caption">#{image}</div>
		</p:contentFlow>
		<h:form>

			<center>
				<p:commandButton value="REALIZAR RESERVACION" styleClass="bottom"
					action="#{managedBean.redirect()}" />
			</center>
		</h:form>

	</div>

</h:body>
</html>