<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>EstacionVacacional</title>
	<h:outputStylesheet name="./css/catalogo.css" />
</h:head>
<h:body style="background-image: url('#{resource['img/pos.jpg']}');">

	<br></br>
	<br></br>
	<div>
		<p:fieldset legend="Registro de viaje">
			<h:form>

				<p:outputLabel value="Paquete : #{Tpack.nombre}" />

				<h:panelGrid columns="12">

					<h:panelGrid columns="12" cellpadding="10">

						<p:growl id="growl" sticky="true" showDetail="true" />

						<div class="box"
							style="background: url('#{Tpack.img}');background-repeat: no-repeat;background-size: contain;background-position: center;">

							<p:wizard flowListener="#{managedBean.onFlowProcess}"
								style="width: 180%">

								<p:tab id="personal" title="Personal" style="width: 180%">
									<p:panel header="Detalles personales">
										<p:messages />
										<h:panelGrid columns="2" columnClasses="label, value">
											<h:outputText value="Nombre: *" />
											<p:inputText value="#{managedBean.cliente.nombre}"
												required="true" label="Firstname" />

											<h:outputText value="Apellido: *" />
											<p:inputText value="#{managedBean.cliente.apellido}"
												required="true" label="Lastname" />

											<h:outputText value="email: " />
											<p:inputText value="#{managedBean.cliente.email}" />

											<h:outputText value="Phone: " />
											<p:inputText value="#{managedBean.cliente.telefono}" />


										</h:panelGrid>
									</p:panel>
								</p:tab>

								<p:tab id="address" title="Paquete">
									<p:panel header="Detalles de paquete de viaje">
										<p:messages />
										<h:panelGrid columns="2" columnClasses="label, value">
											<h:outputText value="De que fecha: " />
											<p:calendar
												value="#{managedBean.paquetesVacacionales.cantidadDiasI}" />

											<h:outputText value="Hasta que fecha: " />

											<p:calendar
												value="#{managedBean.paquetesVacacionales.cantidadDiasF}" />

										</h:panelGrid>
									</p:panel>
								</p:tab>

								<p:tab id="contact" title="Extras">
									<p:panel header="Servicios extras">
										<p:messages />
										<h:panelGrid columns="2" columnClasses="label, value">
											<h:outputText value="Tipo de servicio: *" />
											<p:selectOneMenu value="#{managedBean.servicio.idServicios}"
												placeholder="Escoje una opcion">
												<p:outputLabel />
												<f:selectItems value="#{managedBean.listser}" var="s"
													itemLabel="#{s.nombre} #{s.precio}"
													itemValue="#{s.idServicios}" />
											</p:selectOneMenu>
											<h:outputText value="Saltar: " />
											<h:selectBooleanCheckbox value="#{managedBean.skip}" />
										</h:panelGrid>
									</p:panel>
								</p:tab>

								<p:tab id="confirm" title="Confirmation">
									<p:panel header="Confirmation">
										<h:panelGrid id="confirmation" columns="3"
											columnClasses="grid,grid,grid">
											<h:panelGrid columns="2" columnClasses="label, value">
												<h:outputText value="Nombre: " />
												<h:outputText value="#{managedBean.cliente.nombre}"
													styleClass="outputLabel" />

												<h:outputText value="Apellido: " />
												<h:outputText value="#{managedBean.cliente.apellido}"
													styleClass="outputLabel" />


												<h:outputText value="Email: " />
												<h:outputText value="#{managedBean.cliente.email}"
													styleClass="outputLabel" />

												<h:outputText value="Telefono: " />
												<h:outputText value="#{managedBean.cliente.telefono}"
													styleClass="outputLabel" />

												<h:outputText value="Tiempo estimado de viaje: " />
												<h:outputText value="#{managedBean.estimado}"
													styleClass="outputLabel" />
											</h:panelGrid>


										</h:panelGrid>
										<br></br>
										<br></br>
										<p:commandButton value="Confirmar Compra"
											action="#{managedBean.saveProcess}" update="growl"
											process="@this" onclick="finalizacion()" style="float:center"/>

										<p:panelMenu style="width:300px; float:right">
											<p:submenu label="Metodos de pago" icon="pi pi-briefcase">
												<p:menuitem value="Paypal"
													url="https://www.paypal.com/ec/signin"
													icon="pi pi-briefcase" />
											</p:submenu>
										</p:panelMenu>
									</p:panel>
								</p:tab>
							</p:wizard>

						</div>
					</h:panelGrid>

				</h:panelGrid>

				<p:commandButton value="Cancelar" style="float:right"
					action="#{managedBean.cancelar()}" />
			</h:form>
		</p:fieldset>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="text/javascript">

	  function finalizacion() {	          	 
               Swal.fire(
                   'Compra Realizada',
                    'Proceso efectivo!',
                    'success'
                 )

                                                                                                                                                
      }
	</script>

</h:body>
</html>