<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>EstacionVacacional</title>
</h:head>
<h:body
	style="background-image: url('#{resource['img/fondonav2.jpg']}');">

	<div>
		<p:fieldset legend="Reportes">
			<h:form>
				<p:commandButton value="Cargar"					
					actionListener="#{managedBean.findAll()}" />
				<p:panelGrid columns="6">
						<p:dataTable value="#{managedBean.listFacturas}" var="l">
							<p:column headerText="Factura /cliente">
								<p:outputLabel value="#{l.idFactura}" />
							</p:column>
							<p:column headerText="cliente">
								<p:outputLabel value="#{l.idClienteSer}" />
							</p:column>
							<p:column headerText="cliente">
								<p:outputLabel value="#{l.idPackVacacional}" />
							</p:column>
						</p:dataTable>
					</p:panelGrid>
			</h:form>

		</p:fieldset>

	</div>

</h:body>
</html>