<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Servicios</title>
	<h:outputStylesheet name="./css/catalogo.css" />
</h:head>
<h:body
	style="background-image: url('#{resource['img/pos.jpg']}');">
	<div id="content" class="main">
		<ui:insert name="content">
			<h:form>
				<div class="wrap">
					<p:repeat var="c" value="#{managedBean.lisTipopaquetes}">

						<h:commandLink action="#{managedBean.findproventa(c)}">
							<div class="box"
								style="background: url('#{c.img}');background-repeat: no-repeat;background-size: cover;background-position: center;">
								<div class="date">
									<h4>.</h4>
								</div>
								<h1>#{c.nombre}</h1>								
									<h4>#{c.img.charAt(0)}</h4>								
							</div>
						</h:commandLink>
					</p:repeat>
				</div>
			</h:form>

		</ui:insert>
	</div>
</h:body>
</html>