<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Estacion vacacional</title>
</h:head>
<h:body
	style="background-image: url('#{resource['img/fondonew.jpg']}');">
	<div>
		<h:form id="form">
			<p:fieldset legend="TIpos de Paquetes ">
				<p:repeat value="#{managedBean.lisTipopaquetes}" var="p">
					<h:panelGrid columns="2" style="width:100%"
						columnClasses="logo,detail">
						<p:commandLink oncomplete="PF('carDialog').show()">
							<f:setPropertyActionListener value="#{car}"
								target="#{dataListView.selectedCar}" />
							<p:graphicImage name="img/ranks/global.png" style="width:30%" />
						</p:commandLink>

						<p:outputPanel>
							<h:panelGrid columns="2" cellpadding="5">
								<h:outputText value="Nombre:" />
								<h:outputText value="#{p.nombre}" style="font-weight: bold" />

								<h:outputText value="Costo:" />
								<h:outputText value="$#{p.costo}" style="font-weight: bold" />

								<p:commandButton value="Select"
									action="#{managedBean.findproventa(p)}" />
							</h:panelGrid>
						</p:outputPanel>
					</h:panelGrid>
					<hr />
				</p:repeat>
				
				
				
				
				<p:dialog header="Car Info" widgetVar="carDialog" modal="true"
					showEffect="blind" hideEffect="explode" resizable="false">
					<p:outputPanel id="carDetail" style="text-align:center;">
						<h:panelGrid columns="2"
							rendered="#{not empty dataListView.selectedCar}"
							columnClasses="label,value">
							<f:facet name="header">
								<p:graphicImage
									name="demo/images/car/#{dataListView.selectedCar.brand}-big.gif" />
							</f:facet>

							<h:outputText value="Id:" />
							<h:outputText value="#{dataListView.selectedCar.id}" />

							<h:outputText value="Year" />
							<h:outputText value="#{dataListView.selectedCar.year}" />

							<h:outputText value="Color:" />
							<h:outputText value="#{dataListView.selectedCar.color}"
								style="color:#{dataListView.selectedCar.color}" />

							<h:outputText value="Price" />
							<h:outputText value="\$#{dataListView.selectedCar.price}" />
						</h:panelGrid>
					</p:outputPanel>
				</p:dialog>
			</p:fieldset>
		</h:form>
	</div>
</h:body>
</html>