body {
    overflow: auto;
}

/*Header*/
#top {
    position: fixed;
    margin-left: -10px;
    top:-0.1px;
    width: 101%;
    flex: 0 0 auto;
}

/*El menu de la izquierda*/

#left{
    position:fixed;
    float: left;
    top: 3.7rem;
    background-image: linear-gradient(to left,#1e3c72, #2a4f91);
    padding: 5px;
    width: 13.5rem;
    height:87.5%;
    margin-left: -9.6px;
    overflow-y: auto;
    overflow-x: hidden;
 
}


/* Scrollbar Chrome */

#left::-webkit-scrollbar-track
{
    background-color: transparent;
    border-radius: 10px;

}

#left::-webkit-scrollbar
{  
    width: 10px;
    background-color: transparent;

}

#left::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);


}


/* Handle on hover */
#left::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122,153,217)),
        color-stop(0.72, rgb(73,125,189)),
        color-stop(0.86, rgb(28,58,148)));
}


/*Scroll bar Internet Explorer*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        /* ie scrollbar color properties */

        scrollbar-face-color: black;
        scrollbar-shadow-color: #122e51;
        scrollbar-track-color: #2a4f91 !important;
        scrollbar-arrow-color: #CEDAF0;

    }

    #left:after {
        content: "";
        height: 10px;
        width: 10px !important;
        display: block;
    }

}



/*Contenido*/
#content {
    position:absolute; 
    min-height: 100%;
    top: 4.4rem;
    padding: 0px 15px 30px 0;
    margin-left: 215px;
    margin-bottom: 60px;
    margin-right:0;
    width: 84.92%;
    height:89.2% ;
    z-index: -1;
    flex: 1 0 auto;
}



#bottom {
    position: fixed;
    display:block;
    top:93.8%;
    background-image: linear-gradient(to left,#1e3c72, #2a4f91);
    padding: 2px;
    width: 101%;
    color: white;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
     flex: 0 0 auto;
}



/*No los estoy usando






#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}


.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
/*No los estoy usando*/

