<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body style="background-image: url('#{resource['images/fondo.jpg']}');">	
		<h:form class="login100-form validate-form" id="formLogin">
			<p:growl id="msg" showDetail="true" life="4000" />
			<span class="login100-form-title p-b-34 p-t-27"> Inicio de
				sesión </span>

			<div class="wrap-input100">
				<p:inputText styleClass="input100"
					value="#{CtrlUser.usuario.nombreUs}" required="true" type="text"
					placeholder="Usuario" />
			</div>

			<label class="wrap-input100 validate-input"> <p:password
					styleClass="input100" value="#{CtrlUser.usuario.password}"
					feedback="false" required="true" placeholder="Contraseña" />
			</label>
			<center>
				<h:commandButton action="#{CtrlUser.SessionLog()}"
                                                 value="Iniciar Sesión"
					styleClass="example_e" />
			</center>
			<p:menu>
			     <p:menuitem outcome="main" value="next"/>
			</p:menu>
			 
			
		</h:form>
</h:body>
</html>