<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Test</title>
	<style type="text/css">
.top {
	filter: alpha(opacity = 80);
	opacity: 0.8;
	padding: 50px 0 0 50px;
	z-index: 1000;
}
</style>

</h:head>
<h:body
	style="background-image: url('#{resource['images/fondo.jpg']}');">
	<h:form id="lol">
		<p:notificationBar position="top" effect="slide" styleClass="top"
			widgetVar="bar">
			<p:commandButton value="revisar actividades" />
			<p:commandButton value="reportes" />
			<p:commandButton value="Cancelar" onclick="PF('bar').hide()"
				type="button" icon="pi pi-undo" style="float: right" />
		</p:notificationBar>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<p:fieldset legend="Menu" styleClass="container"
			style="background-color: transparent">
			<div class="ui-grid-col-3">
				<h:panelGrid>
					<p:commandButton value="Opciones" onclick="PF('bar').show()"
						type="button" icon="pi  pi-file-o" />

				</h:panelGrid>
			</div>
			<div class="ui-grid-col-6">
				<h:panelGrid styleClass="card">
					<p:calendar value="#{calendar.actividad.fecha}" />


					<br></br>
					<br></br>
					<p:outputLabel value="Descripcion de la actividad" />
					<p:inputTextarea value="#{calendar.actividad.descripcion}" />

					<p:outputLabel value="Seleccione colaborador" />
					<p:selectOneMenu value="#{calendar.usuario.idUsuario}">
                                            <f:selectItems  value="#{calendar.listusuario}"  var="a"
							itemValue="#{a.idUsuario}" itemLabel="#{a.idUsuario}" />
					</p:selectOneMenu>

					<p:commandButton value="Lista"
						actionListener="#{calendar.viewlit()}" update="lol"/>

					<p:commandButton value="Save"
						actionListener="#{calendar.saveAct()}" />
				</h:panelGrid>
			</div>


		</p:fieldset>



	</h:form>
</h:body>
</html>