<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background: darkslategrey;">       
        <h2 style="position: fixed; top: -5px; right: 700px; font-family: cursive">Registro de Encuesta</h2> 
        <br/><br/>
        <br/><br/>        
        <p:growl id="msj" showDetail="true" />
        <div class="cont">
            <p:fieldset legend="Registro de Preguntas Respuestas" style="width: 30.5%; margin-left: 9%">

                <h:form id="preguntasresp">
                    <h:panelGrid columns="2" styleClass="noBorders" class="panel">
                        <p:outputLabel value="Seleccione Dimension" />
                        <p:selectOneMenu value="#{Ctrl.dimensiontest.id}" style="width: 100%" >
                            <f:selectItems value="#{Ctrl.dimensiontestlist}" var="o"
                                           itemValue="#{o.id}" itemLabel="#{o.titulo}" />

                        </p:selectOneMenu>
                        <p:outputLabel value="Seleccione pregunta" />
                        <p:selectOneMenu value="#{Ctrl.pregunta.id}" style="width: 100%" >
                            <f:selectItems value="#{Ctrl.preguntalist}" var="p"
                                           itemValue="#{p.id}" itemLabel="#{p.pregunta}" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Seleccione respuesta" />
                        <p:selectOneMenu value="#{Ctrl.respuesta.id}" style="width: 100%" >
                            <f:selectItems value="#{Ctrl.respuestalist}" var="r"
                                           itemValue="#{r.id}" itemLabel="#{r.resp}" />
                        </p:selectOneMenu>
                        <p:column>

                            <p:commandButton value="Guardar" actionListener="#{seguridadBean.registrarOpcionRoles()}"
                                             rendered="#{seguridadBean.opcionrol.id == 0}"
                                             update="tabla msj"  />
                            <p:commandButton value="Editar" actionListener="#{seguridadBean.modificarOpcionRoles()}"
                                             rendered="#{seguridadBean.opcionrol.id != 0}"
                                             update="tabla msj" />
                        </p:column>
                        <p:column>
                            <p:commandButton value="Nuevo" actionListener="#{seguridadBean.init()}"
                                             update="preguntasresp tabla"  />
                        </p:column>
                    </h:panelGrid>
                </h:form>
            </p:fieldset>
            <br/>



            <p:fieldset legend="Encuesta :" style="width: 80%; margin: auto">
                <h:form id="tabla">
                    <p:dataTable value="#{Ctrl.respuestalist}" var="res">
                        <p:column headerText="Dimension" style="width: 10%; text-align: center">
                            <h:outputText value="#{res.idPregunta.idTitulo.titulo}" />
                        </p:column>
                        <p:column headerText="Pregunta" style="width: 20%;">
                            <h:outputText value="#{res.idPregunta.pregunta}" />
                        </p:column>
                        <p:column headerText="Respuesta Posible" style="width: 25%;">
                            <h:outputText value="#{res.resp}" />
                        </p:column>
                        <p:column headerText="Acciones" style="width: 25%;">
                            <p:commandButton value="Editar" actionListener="#{seguridadBean.consultarPorIdOpcionRoles(orol)}" 
                                             update="preguntasresp"  />
                            <p:commandButton value="Eliminar" actionListener="#{seguridadBean.eliminarOpcionesRol(orol)}"
                                             update="tabla msj"  />
                        </p:column>
                    </p:dataTable>
                </h:form>
                <h:form>
                    <h:link outcome="plantilla" value="Ver Encuesta DISEÑADA" />
                </h:form>
            </p:fieldset>
        </div>
    </h:body>
</html>

