<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: black">
        <p:layout fullPage="true" style="z-index: ">

            <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true" >

            </p:layoutUnit>

            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">

            </p:layoutUnit>

            <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                <p:menu>
                    <p:submenu label="MENU">
                        <p:menuitem value="Clientes" outcome="cliente" />
                        <p:menuitem value="productos" outcome="producto" />                                             
                    </p:submenu>
                </p:menu>
                <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>                
                <p:menu style="background-color: cadetblue" >
                    <p:submenu label="Otras paginas">
                        <p:menuitem value="modos de Pago" outcome="modo_pago" />
                        <p:menuitem value="Categoria" outcome="categoria"/> 
                        <p:menuitem value="Detalle" outcome="detalle" />       
                    </p:submenu>                                                         
                </p:menu>
                <p:menu style="background-color: brown;">   
                    <p:menuitem value="Factura" outcome="factura"/> 
                </p:menu>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <p:growl id="msj"/>
                <h:form id="modal">
                    <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
                </h:form>
                <p:dialog widgetVar="java" modal="true" showEffect="puff" hideEffect="puff" resizable="false">
                    <p:ajax event="close" listener="#{categoriaManagedBean.init()}" update="intomodal"/>
                    <h:form id="intomodal">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Nombre"/>
                            <p:inputText value="#{categoriaManagedBean.categoria.nombre}"/>
                            <p:outputLabel value="Otros Detalles"/>
                            <p:inputTextarea value="#{categoriaManagedBean.categoria.descripcion}"/>
                            <p:commandButton value="Save" actionListener="#{categoriaManagedBean.save()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{categoriaManagedBean.categoria.id_categoria == 0}"/>
                            <p:commandButton value="update" actionListener="#{categoriaManagedBean.update()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{categoriaManagedBean.categoria.id_categoria != 0}"/>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                <h:form id="datos">
                    <p:dataTable value="#{categoriaManagedBean.lista}" var="c">
                        <p:column headerText="ID">
                            <h:outputText value="#{c.id_categoria}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <h:outputText value="#{c.nombre}"/>
                        </p:column>
                        <p:column headerText="Descripcion">
                            <h:outputText value="#{c.descripcion}"/>
                        </p:column>                
                        <p:column headerText="Opciones">
                            <p:commandButton value="Update" oncomplete="PF('java').show();" update=":intomodal" actionListener="#{categoriaManagedBean.findbyid(c)}"/>
                            <p:commandButton value="Remove"  update=":datos" actionListener="#{categoriaManagedBean.remove(c)}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:layoutUnit>

        </p:layout> 

    </h:body>
</html>

