<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: black">
        <p:growl id="msj"/>
        <h:form id="modal">
            <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
        </h:form>
        <p:dialog widgetVar="java" modal="true" showEffect="puff" hideEffect="puff">
            <p:ajax event="close" listener="#{facturaManagedBean.init()}" update="intomodal"/>
            <h:form id="intomodal">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Cliente"/>
                    <p:selectOneMenu value="#{facturaManagedBean.cliente.id_cliente}">
                        <f:selectItems value="#{clienteManagedBean.lista}" var="c" itemLabel="#{c.nombre}" itemValue="#{c.id_cliente}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Fecha"/>
                    <p:calendar value="#{facturaManagedBean.factura.fecha}"/>
                    <p:outputLabel value="Modo de Pago"/>
                    <p:selectOneMenu value="#{facturaManagedBean.modo_pago.num_pago}">
                        <f:selectItems value="#{modo_pagoManagedBean.lista}" var="m" itemLabel="#{m.nombre}" itemValue="#{m.num_pago}"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Save" actionListener="#{facturaManagedBean.save()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{facturaManagedBean.factura.num_factura == 0}"/>
                    <p:commandButton value="update" actionListener="#{facturaManagedBean.update()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{facturaManagedBean.factura.num_factura != 0}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="datos">
            <p:dataTable value="#{facturaManagedBean.lista}" var="f">
                <p:column headerText="ID">
                    <h:outputText value="#{f.num_factura}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{f.id_cliente.nombre}"/>
                </p:column>
                <p:column headerText="Apellido">
                    <h:outputText value="#{f.fecha}">
                          <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="direccion">
                    <h:outputText value="#{f.num_pago.nombre}"/>
                </p:column>                
                <p:column headerText="Opciones">
                    <p:commandButton value="Update" oncomplete="PF('java').show();" update=":intomodal" actionListener="#{facturaManagedBean.findByid(f)}"/>
                    <p:commandButton value="Remove"  update=":datos" actionListener="#{facturaManagedBean.remove(f)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

