<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: black">
        <p:growl id="msj"/>
        <h:form id="modal">
            <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
        </h:form>
        <p:dialog widgetVar="java" modal="true" showEffect="puff" hideEffect="puff" resizable="false">
            <p:ajax event="close" listener="#{modo_pagoManagedBean.init()}" update="intomodal"/>
            <h:form id="intomodal">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nombre"/>
                    <p:inputText value="#{modo_pagoManagedBean.modo_pago.nombre}"/>
                    <p:outputLabel value="Otros Detalles"/>
                    <p:inputTextarea value="#{modo_pagoManagedBean.modo_pago.otros_detalles}"/>
                    <p:commandButton value="Save" actionListener="#{modo_pagoManagedBean.save()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{modo_pagoManagedBean.modo_pago.num_pago == 0}"/>
                    <p:commandButton value="update" actionListener="#{modo_pagoManagedBean.update()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{modo_pagoManagedBean.modo_pago.num_pago != 0}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="datos">
            <p:dataTable value="#{modo_pagoManagedBean.lista}" var="m">
                <p:column headerText="ID">
                    <h:outputText value="#{m.num_pago}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{m.nombre}"/>
                </p:column>
                <p:column headerText="Otros detalles">
                    <h:outputText value="#{m.otros_detalles}"/>
                </p:column>                
                <p:column headerText="Opciones">
                    <p:commandButton value="Update" oncomplete="PF('java').show();" update=":intomodal" actionListener="#{modo_pagoManagedBean.findbyid(m)}"/>
                    <p:commandButton value="Remove"  update=":datos" actionListener="#{modo_pagoManagedBean.remove(m)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

