<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: black">
        <p:growl id="msj"/>
        <h:form id="modal">
            <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
        </h:form>
        <p:dialog widgetVar="java" modal="true" showEffect="puff" hideEffect="puff">
            <p:ajax event="close" listener="#{productoManagedBean.init()}" update="intomodal"/>
            <h:form id="intomodal">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Categoria"/>
                    <p:selectOneMenu value="#{productoManagedBean.categoria.id_categoria}">
                        <f:selectItems value="#{categoriaManagedBean.lista}" var="c" itemLabel="#{c.nombre}" itemValue="#{c.id_categoria}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Nombre"/>
                    <p:inputText value="#{productoManagedBean.producto.nombre}"/>
                    <p:outputLabel value="Precio"/>
                    <p:inputText value="#{productoManagedBean.producto.precio}"/>
                    <p:outputLabel value="En Stock"/>
                    <p:inputText value="#{productoManagedBean.producto.stock}"/>
                    
                    <p:commandButton value="Save" actionListener="#{productoManagedBean.save()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{productoManagedBean.producto.id_producto == 0}"/>
                    <p:commandButton value="update" actionListener="#{productoManagedBean.update()}" update=":datos" oncomplete="PF('java').hide();" rendered="#{productoManagedBean.producto.id_producto != 0}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="datos">
            <p:dataTable value="#{productoManagedBean.lista}" var="p">
                <p:column headerText="ID">
                    <h:outputText value="#{p.id_producto}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{p.nombre}"/>
                </p:column>
                <p:column headerText="Precio">
                    <h:outputText value="#{p.precio}"/>
                </p:column>
                <p:column headerText="Categoria">
                    <h:outputText value="#{p.id_categoria.nombre}"/>                         
                </p:column>
                <p:column headerText="Stock">
                    <h:outputText value="#{p.stock}"/>
                </p:column>                
                <p:column headerText="Opciones">
                    <p:commandButton value="Update" oncomplete="PF('java').show();" update=":intomodal" actionListener="#{productoManagedBean.findByid(p)}"/>
                    <p:commandButton value="Remove"  update=":datos" actionListener="#{productoManagedBean.remove(p)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

