#bottom {
	background: rgb(19, 51, 83);
	background: radial-gradient(circle, rgba(19, 51, 83, 1) 0%,
		rgba(99, 141, 161, 1) 0%, rgba(19, 51, 83, 1) 100%);
	color: #ffffff;
	padding: 0 100px 0 100px;
	width: 101%;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.container-login100::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.wrap-login100 {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding: 55px 55px 37px 55px;
	/* background: #9152f8; */
	background: #334355;
}
