<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: black">
        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">

            </p:layoutUnit>

            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">

            </p:layoutUnit>

            <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                <p:menu>
                    <p:submenu label="MENU">
                        <p:menuitem value="Clientes" outcome="cliente" />
                        <p:menuitem value="productos" outcome="producto" />                                             
                    </p:submenu>
                </p:menu>
            </p:layoutUnit>

            <p:layoutUnit position="center">

            </p:layoutUnit>

        </p:layout>        
    </h:body>
</html>

