<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: black">
        <p:growl id="msj"/>  
        <h:form id="lol">
            <p:commandButton value="Listar" actionListener="#{productoManagedBean.listar()}" update=":datos"/>
        </h:form>  
        <h:form id="datos">
            <p:dataTable value="#{productoManagedBean.lista}" var="p">
                <p:column headerText="ID">
                    <h:outputText value="#{p.id_producto}"/>
                </p:column>
                <p:column headerText="Nombre de producto">
                    <h:outputText value="#{p.nombre}"/>
                </p:column>
                <p:column headerText="Precio">
                    <h:outputText value="#{p.precio}"/>
                </p:column>
                <p:column headerText="En stock">
                    <h:outputText value="#{p.stock}"/>
                </p:column>                            
            </p:dataTable>
        </h:form>
    </h:body>    
</html>

