<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Reportes</title>
</h:head>
<h:body style="background-color: black">
	<div>
		<p:fieldset legend="Reporte vista">
			<h:form id="te">
				<h:panelGrid columns="12">

					<h:panelGrid columns="4">					
						
						<p:selectOneMenu value="#{reporteBean.ref}">
						<f:selectItems value="#{reporteBean.liscategoria}" var="r" itemLabel="#{r.nombre}" itemValue="#{r.idCategoria}"/>
						</p:selectOneMenu>
						<p:commandButton value="Buscar"  actionListener="#{reporteBean.Esp()}" update="te:tab" />						
					</h:panelGrid>



					<h:panelGrid columns="6">
						<p:dataTable value="#{reporteBean.listProducto}" var="l" id="tab">
							<p:column headerText="detalle">
								<p:outputLabel value="#{l.categoria.nombre}" />
							</p:column>
							<p:column headerText="nombre">
								<p:outputLabel value="#{l.nombre}" />
							</p:column>
							<p:column headerText="Precio">
								<p:outputLabel value="#{l.precio}" />
							</p:column>

						</p:dataTable>
					</h:panelGrid>
				</h:panelGrid>

			</h:form>
		</p:fieldset>

	</div>
</h:body>
</html>