@charset "ISO-8859-1";

body {
	font-family: "Open Sans","Helvetica Neue",sans-serif !important;
	font-size: 13px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(-90deg, #757575, #e0f7fa);
}

#top {
	position: fixed;
	background: rgb(19, 51, 83);
	background: radial-gradient(circle, rgba(19, 51, 83, 1) 0%,
		rgba(99, 141, 161, 1) 0%, rgba(19, 51, 83, 1) 100%);
	height: fit-content;
	padding: 5px;
	margin: 0px 0px 10px -10px;
	width: 101%;
	flex: 0 0 auto;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#bottom {
	position: relative;
	padding: 5px;
	margin: 0;
}

#left {
	position: relative;
	float: left;
	top: 3.7rem;
	padding: 5px;
	width: 13.5rem;
	height: 87.5%;
	margin-left: -20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.main {
	position: absolute;
	top: 3.5rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	z-index: 2;
	background-image: linear-gradient(-90deg, #757575, #e0f7fa);
}

.left_content {
	position: absolute;
	top: 3.5rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 40%;
	z-index: -1;
}
