@charset "ISO-8859-1";

/* titulo de las columnas */
body .ui-datatable thead th {
	background: radial-gradient(circle, rgba(20, 133, 172, 1) 0%,
		rgba(0, 35, 70, 1) 100%);
	!
	important;
}
/*ancho de la letra*/
.product .ui-datatable thead th .ui-column-title {
	font-weight: 700 !important;
	color: white !important;
}

/* color de las filas 0*/
body .ui-datatable .ui-datatable-data>tr.ui-datatable-even {
	background-color: #e0e0e0 !important;
}
/* color de las filas 1*/
body .ui-datatable .ui-datatable-data>tr {
	background-color: #ffffff !important;
	color: #333333 !important;
}
/*control de input buscar productos*/
body .form-control {
	width: 25%;
	position: absolute;
	left: 0.1%;
}
/*control del boton*/
body .btn1 {
	background-color: skyblue;
	width: 6.5%;
	position: absolute;
	left: 25.5%;
	color:black;
}
body .btn2 {
	background-color: skyblue;
	width: 6%;
	position: absolute;
	left: 32.5%;
	color:black;
}
/*tabla*/
.ui-grid-col-12 {
	margin-top: 3.5%;
}
/*tabla disque responsiva*/
body .container {
	width: 95%;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	margin-left: 5%;
	margin-right: 5%;
}
/*buscar productos*/
body .row {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	height: auto !important;
	margin-left: 0.1%;
}