@charset "ISO-8859-1";

/* 
    Created on : 11-13-2019, 02:05:23 PM
    Author     : gabriela.francousam
*/
/*****Comienza header.xhtml*****/
/*Boton para abrir el menu */
.menu-button {
	float: left;
	margin-top: -5px;
	margin-left: 5px;
}

.menu-button .ui-button {
	background: transparent !important;
	border: none !important;
}

.menu-button .ui-button:hover {
	background: transparent !important;
	color: lightsteelblue !important;
	border: none !important;
}

/* Logo */
#logo {
	position: fixed;
	top: 13px;
	margin: 0 0 0 43%;
	text-decoration: none;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

#logo a:link, a:visited {
	font-weight: 700;
	color: white;
	text-decoration: none;
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	font-weight: lighter;
}

#logo a:link:hover, a:visited:hover {
	color: lightsteelblue;
	text-decoration: none;
}

/* Termina Header */

/***** Comienza menu.xhtml *****/
/*Sidebar*/
.ui-sidebar {
	background: rgb(19, 51, 83);
	background: radial-gradient(circle, rgba(19, 51, 83, 1) 0%,
		rgba(99, 141, 161, 1) 0%, rgba(19, 51, 83, 1) 100%);
	color: #dedede;
	padding: .571em 1em;
	border: 0 !important; -webkit-box-shadow : 0 0 6px 0 rgba( 0, 0, 0,
	0.16);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}


/* icono */
#user-icon.fa-user-circle:before {
	position: relative;
	display: block;
	top: 20px;
	margin-left: 21px;
	margin-right: auto;
	padding: 0 0 0 71px;
	font-size: 5em;
	color: white;
}
/* nombre */
.user {
	position: relative;
	display: block;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0 50px;
	font-size: 1.1em;
}

.cerrar {
	position: relative;
	display: block;
	top: 40px;
	margin-left: 70px;
}


.close {
	color:#fff5e7;
	font-family:"Arial",sans-serif;
	font-weight:normal;

}

.close:hover{
	color:rgba(52, 67, 84, 1) !important;
}

.close.pi-sign-out:before{
float:right !important;
position: relative; 
top: 3px;	
left: 3px;
}

/*Menu*/


.menu.ui-menu {
	top: 80px;
	padding: 0 !important;
	margin: 0 -14px;
	width: 280px;
	background-color: rgba(255, 255, 255, 0.1) !important;
	border: 0 !important;
}

.menu.ui-menu .ui-menu-list .ui-widget-header {
	background: rgba(52, 68, 86, 1)  !important;
	border: 0 !important;
}

.menu.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover{
	background: rgba(52, 68, 86, 0.57)  !important;
}



/* Termina Menu */

/* Comienza footer*/
#bottom {
	background: rgb(19, 51, 83);
	background: radial-gradient(circle, rgba(19, 51, 83, 1) 0%,
		rgba(99, 141, 161, 1) 0%, rgba(19, 51, 83, 1) 100%);
	color: #ffffff;
	padding: 0 100px 0 100px;
	width: 101%;
}

.footer1 {
	margin-top: -5px;
	margin-left: 40% !important;
	padding: 0 0 1px 0;
}

.autor {
	position: relative;
	float: right;
	margin-right: 30% !important;
	top: -55px !important;
	color: white;
	font-size: 2em;
}

.autor .ui-button {
	background-color: transparent !important;
	border: none !important;
}

.autor .ui-button:hover {
	background-color: transparent !important;
	border: none !important;
	color: lightsteelblue !important;
}

/*Termina footer */

/* Comienza contenido */

/*Fieldset */
.container .ui-fieldset-legend {
	background-color: #133353 !important;
	border: 1px solid #133353 !important;
	font-weight: bold !important;
}

.container {
	margin: 10px 90px 10px 90px;
	height: 40rem;
	background-color: transparent !important;
	border: 1px solid #036fab !important;
}

.card {
	border: 1px solid #036fab;
	border-radius: 15px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.8) !important;
}

.grids {
	padding: 15px;
	margin: auto;
}

/* Botones */
.ui-button {
	-webkit-transition-duration: 0.4s !important;
	transition-duration: 0.4s;
}

.ui-button {
	background: #638da1 !important;
	color: #ffffff !important;
	border-color: #334353 !important;
}

.ui-button:hover {
	background-color: #fff5e7 !important;
	color: #334353 !important;
	border-color: #fff5e7 !important;
}

/*Selects */
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight
	{
	background-color: #fff5e7 !important;
	color: #334353 !important;
}

body :not (.ui-state-error ).ui-selectonemenu.ui-state-hover {
	border-color: #638da1 !important;
}

body :not (.ui-state-error ).ui-selectonemenu.ui-state-focus {
	border-color: #638da1 !important;
}

body :not (.ui-state-error ).ui-inputfield.ui-state-focus,
	.ui-state-hover {
	border-color: #638da1 !important;
}

/*Nav de la vista de ventas*/

body .ui-tabs .ui-tabs-nav .ui-tabs-header.ui-state-active,.ui-state-active a {
	background-color: rgba(51, 67, 85, 1) !important;
	color: #dedede !important;
	border-color: rgba(51, 67, 85, 1) !important;
}

body .ui-tabs .ui-tabs-nav .ui-tabs-header.ui-state-hover,.ui-state-hover a {
	background-color: #fff5e7 !important;
	color: rgba(51, 67, 85, 1) !important;
	border-color: rgba(51, 67, 85, 1)  !important;
}